<div class="fondo">
  <div class="operandos">
    <div>
       <button class="btn btn-primary" (click)="captarNumeros()">
        Captar Numeros
      </button>
      <button class="btn btn-primary" (click)="operacionesLogicas()">
        Logicas
      </button>
      <button class="btn btn-primary" (click)="operacionesAritmeticas()">
        Aritmeticas
      </button>
      <button class="btn btn-primary" (click)="operacionesControl()">
          Control
        </button>
         <button class="btn btn-primary" (click)="ejecutar()">Ejecutar</button>
    </div>
  </div>
  <div class="operaciones">
    <div class="control mt-5">
      <!-- <div>
        <button class="btn btn-primary" (click)="operacionesIO()">
          Entrada/Salida
        </button>
      </div> -->
    </div>
  </div>
  <div>
   
  </div>
 
</div>
