.uc {
  height: 100px;
  width: 100px;
  background-color: #FFD6F5;
  font-weight: 600;
  border-radius: 10%;
  display: flex;
}

p {
  margin: auto;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-weight: bold;
  text-align: center;
}
